
.form-control::placeholder{
    color: rgba(29, 28, 28, 0.897) !important;
}

#checkoutForm{
    width:85%;
     text-align:left;
      margin-top:20px;
      font-size: 24px;
}

.form-control{
    font-size: 21px;
}

#priceWithShipping{
    text-align: left;
    border: 2px solid black;
    background-color: rgba(148, 147, 147, 0.144);
    border-radius: 3px;
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-left: 150px;
    margin-top: 70px;
}