
#bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
#aboutText{
    position: relative; 
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20%;
}

#row{
    margin-top: 10px;
}